<div class="addCustomerForm">
    <form action="addCustomerPOST" method="POST">
        <input type="text" name="Name" /> Name <br>
        <input type="text" name="Surname" /> Surname <br>
        <input type="text" name="BirthDate" /> Birth Date <br>
        <input type="text" name="ItemsBought" /> Items Bought <br>
        
        <input type="submit" value="Add new customer" />
        
    </form>
</div>