<table>
<%for (var i = 0; i < customers.length; i++){%>
<tr>
    <td><%=customers[i].Name%></td>
    <td><%=customers[i].Surname%></td>
    <td><%=customers[i].BirthDate%></td>
    <td><%=customers[i].ItemsBought%></td>
</tr>
<%}%>
</table>