    <!doctype html>
    <html>
    <head>
    <title></title>
    <meta charset="utf-8" />
    
    <link rel="shortcut icon" href="/favicon.ico" />
     
    <meta name="author" content="" />
    <meta name="date" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    </head>
    <body>
    <link rel="stylesheet" type="text/css" href="/style/main.css">
    <script src="http://requirejs.org/docs/release/2.1.11/minified/require.js" data-main="/scripts/main" type="text/javascript"></script>  

    Welcome on Goliat Nodejs MVC HTTP Server demonstration!
    <br>
    For source code visit my account on GitHub: <a href="https://github.com/tmkryb/goliat"> Goliat! </a>

    <ul>
        <b>Things to do:</b>
    <li>POST and GET</li>
    <li>Passing POST values to controllers</li>
    <li>Controller parameters</li>
    <li>Rendering partials (Ajax in general)</li>
    <li>Returning JSON objects</li>
    <li>Rendering ViewData, and View parsing (server - client data sharing)</li>


    </ul>
    </br>
    <div class="button" onclick='window.location = "/home/witaj"'><span>Go to action</span></div>
    <div class="button" onclick='window.location = "/user"'><span>Go to action #2</span></div>
    </body>
    </html>